<div class="header">
    <ul>
        <li class="logo">logo</li>
        <li class="search">
            <div class="search-container">
                <form action="">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
        </li>
        <li>
            <button>hey</button>
        </li>
        <li>
            <button>hello</button>
        </li>
        <li>
            <button>hello</button>
        </li>
    </ul>
</div>

<!--<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>-->