<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header">
    <ul>
        <li>
            <a href="" class="logo">Logo</a>
        </li>
        <li>
            <form action="">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </li>
        <li>
            <a href="" class="button">
                <i class="fa fa-shopping-basket"></i>
            </a>
        </li>
        <li>
            <a href="" class="button">
                <i class="fa fa-bell"></i>
            </a>
        </li>
        <li>
            <a href="" class="big-button">
                <i class="fa fa-plus"></i> Add item <!---->
            </a>
        </li>
    </ul>
</div>