<div>
    <div class="flex-container">
        <div class="item1">
            <span>Choose category</span>
            <span class="total">x+ Cateories</span>
        </div>
        <div class="item2">
            <span>View all</span>
        </div>
    </div>
    <mat-chip-list aria-label="Dog selection">
        <mat-chip>
            <mat-chip-avatar>
                <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu" />
            </mat-chip-avatar>
            Dog one
        </mat-chip>
        <mat-chip color="primary">
            <mat-chip-avatar>
                <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu" />
            </mat-chip-avatar>
            Dog two
        </mat-chip>
        <mat-chip color="accent">
            <mat-chip-avatar>
                <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu" />
            </mat-chip-avatar>
            Dog three
        </mat-chip>
        <mat-chip>
            <mat-chip-avatar>
                <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu" />
            </mat-chip-avatar>
            Dog one
        </mat-chip>
        <mat-chip color="primary">
            <mat-chip-avatar>
                <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu" />
            </mat-chip-avatar>
            Dog two
        </mat-chip>
        <mat-chip color="accent">
            <mat-chip-avatar>
                <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu" />
            </mat-chip-avatar>
            Dog three
        </mat-chip>
    </mat-chip-list>

    <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

</div>

<router-outlet></router-outlet>